@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #1F4D91;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 35px;
    background: rgba(76,68,182,0.808);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    
    margin-bottom: 15px;
}

/********* Home *****************/

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    
}
.logo a{
    text-decoration: none;
    color: #000;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}


@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}



/* new */

:root{
    --main-color: #4a4e69;
}

.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Option buttons */
.billing__options{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billing__options input{
    -webkit-appearance: none;
    display: none;
}

.billing__options .label{
    height: 50px;
    width: 300px;
    border: solid 2px var(--main-color);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#year{
    color: white;
}

.label small{
    color: var(--main-color);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label .active{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    background-color: var(--main-color);
    height: 90%;
    width: 45%;
    border-radius: 50px;
    z-index: -1;
}


/* toggle class for javascript */

.label.selected #year{
    color: var(--main-color);
}
.label.selected #month{
    color: white;
}
.label.selected .active{
    left: 160px;
}

/* Price table */
.subscription__options{
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 2rem;
}

.subscription{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid 1px var(--main-color);
}

.subscription p{
    margin: 5px 0 10px;
    color: var(--main-color);
    letter-spacing: 1px;
}

.subscription small{
    color: #ccc;
}

.subscription .price{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}

.price.show__price{
    display: none;
}

.subscription ul{
    margin-bottom: 20px;
}

.subscription ul li{
    list-style: none;
    line-height: 25px;
}

.subscription button{
    margin: 30px 10px 10px;
    padding: 10px 20px;
    background: none;
    border: solid 1px var(--main-color);
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

#starter h3{
    color: #fcbf49;
}
#starter button{
    background-color: #fcbf49;
    color: white;
    border:none;
}
#growth h3{
    color: #a2d2ff;
}
#growth button{
    background-color: #a2d2ff;
    color: white;
    border:none;
}
#advanced h3{
    color: #ee6c4d;
}
#advanced button{
    background-color: #ee6c4d;
    color: white;
    border:none;
}
